In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Load data

In [2]:
pwd

'/home/henry/Desktop/UIT/RecSys/RecSys-Project/preprocessing'

In [3]:
cd ..

/home/henry/Desktop/UIT/RecSys/RecSys-Project

In [46]:
df_rests = pd.read_csv("data/organized/restaurants.csv")
df_users = pd.read_csv("data/organized/users.csv")
df_meals = pd.read_csv("data/organized/meals.csv")
df_ratings = pd.read_csv("data/organized/ratings.csv")

## 2. restaurants.csv

In [75]:
df_rests.sample(3)

,rest_name,rest_address,time_open,price,avg_score,quality_score,price_score,service_score,space_score,location_score,link,Location,Cate,rest_id,open_time,close_time,lowest_price,hightest_price,rest_link
267,Cơm Tấm Cali - Nguyễn Thị Nhỏ,"87D - 87E Nguyễn Thị Nhỏ, Quận 6, TP. HCM",10:00 - 13:45 | 17:00 - 19:45,50.000 - 70.000,6.3,6.0,5.3,6.4,6.6,7.2,https://www.foody.vn/ho-chi-minh/com-tam-cali-...,TPHCM,Nha Hang,425,10:00,19:45,50.000,70.000,/ho-chi-minh/com-tam-cali-25-nguyen-thi-nho
169,Dimsum Homemade - Há Cảo Đặc Biệt - Nguyễn Gia...,"29/12 Nguyễn Gia Trí, P. 25, Quận Bình Thạnh, ...",10:00 - 22:00,30.000 - 30.000,7.8,7.4,7.5,8.5,7.6,8.0,https://www.foody.vn/ho-chi-minh/dimsum-homema...,TPHCM,An Vat Via He,1179,10:00,22:00,30.000,30.000,/ho-chi-minh/dimsum-homemade-ha-cao-dac-biet-n...
375,Bachutha - Bánh chuối Thái - Nguyễn Thượng Hiền,"54 Nguyễn Thượng Hiền, P. 5, Quận 3, TP. HCM",17:00 - 22:00,20.000 - 30.000,_._,--,--,--,--,--,https://www.foody.vn/ho-chi-minh/bachutha-banh...,TPHCM,An Vat Via He,42,17:00,22:00,20.000,30.000,/ho-chi-minh/bachutha-banh-chuoi-thai-nguyen-t...

In [71]:
df_rests["open_time"] = df_rests.time_open.map(lambda time: time.split(" - ")[0])
df_rests["close_time"] = df_rests.time_open.map(lambda time: time.split(" - ")[-1])

In [66]:
df_rests["lowest_price"] = df_rests.price.map(lambda price: price.split(" - ")[0])
df_rests["hightest_price"] = df_rests.price.map(lambda price: price.split(" - ")[-1])

In [64]:
df_rests["rest_link"] = df_rests.link.map(lambda link: link.replace("https://www.foody.vn", ""))

In [76]:
df_rests.columns

Index(['rest_name', 'rest_address', 'time_open', 'price', 'avg_score',
       'quality_score', 'price_score', 'service_score', 'space_score',
       'location_score', 'link', 'Location', 'Cate', 'rest_id', 'open_time',
       'close_time', 'lowest_price', 'hightest_price', 'rest_link'],
      dtype='object')

In [77]:
df_rests_x = df_rests[["rest_id", "rest_name", "Cate","open_time", 'close_time', 'lowest_price', 'hightest_price',
                     "avg_score", 'quality_score', 'price_score', 'service_score', 'space_score', 'location_score',
                     "rest_address", "rest_link"]]

In [78]:
df_rests_x

,rest_id,rest_name,Cate,open_time,close_time,lowest_price,hightest_price,avg_score,quality_score,price_score,service_score,space_score,location_score,rest_address,rest_link
0,253,Ốc Diệu,An Vat Via He,12:30,21:00,30.000,60.000,6.7,7.8,7.4,7.2,5.8,5.4,"26/50/52 Đỗ Quang Đẩu, Quận 1, TP. HCM",/ho-chi-minh/oc-dieu
1,1151,Bánh Mì PewPew - Út Tịch,An Vat Via He,06:00,23:00,20.000,30.000,6.7,6.7,6.5,6.7,6.7,6.7,"66 Út Tịch, P. 4, Quận Tân Bình, TP. HCM",/ho-chi-minh/banh-mi-pew-pew
2,1008,Baoz Dimsum Restaurant - Nguyễn Tri Phương,Nha Hang,06:30,22:45,50.000,200.000,7.0,7.3,7.0,6.5,7.3,7.0,"88 Nguyễn Tri Phương, P. 7, Quận 5, TP. HCM",/ho-chi-minh/baoz-dimsum-resraurant
3,874,Bánh Mì PewPew - Đường D5,An Vat Via He,06:00,21:30,20.000,30.000,NaN,6.0,5.7,5.9,6.0,6.2,"84 Đường D5, P. 25, Quận Bình Thạnh, TP. HCM",/ho-chi-minh/banh-mi-pewpew-duong-d5
4,743,Baoz Dimsum Restaurant - The Garden Mall,Nha Hang,09:00,23:00,50.000,200.000,6.7,6.9,6.7,6.1,6.7,7.1,"Tầng Trệt, Tầng Trệt The Garden Mall, 190 Hồn...",/ho-chi-minh/baoz-dimsum-restaurant-the-garden...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1355,308,Lẩu Tươi MK - Mesa Plaza,Nha Hang,08:00,22:00,100.000,500.000,7.4,7.8,6.7,7.4,7.7,7.6,"Mesa Plaza, 82 Nguyễn Du, P. Bến Nghé, Quận 1,...",/ho-chi-minh/lau-tuoi-mk-mesa-plaza
1356,893,Lẩu Tươi MK - Vincom Mega Mall Thảo Điền,Nha Hang,09:00,21:00,100.000,500.000,7.6,8.1,7.0,7.4,7.6,8.0,"Tầng 4, Tầng 4, Vincom Mega Mall Thảo Điền, 1...",/ho-chi-minh/lau-tuoi-mk-vincom-mega-mall-thao...
1357,480,Lẩu Tươi MK - AEON Mall Bình Tân,Nha Hang,10:00,22:00,200.000,300.000,6.9,6.9,6.6,7.2,6.9,7.1,"Tầng 3, Tầng 3, Aeon Mall Bình Tân, 1 Đường S...",/ho-chi-minh/lau-tuoi-mk-aeon-mall-binh-tan
1358,37,Lẩu Tươi MK - Vạn Hạnh Mall,Nha Hang,09:00,22:00,100.000,500.000,6.9,6.9,6.5,6.9,6.7,7.4,"Tầng 5, 02 Tầng 5 Vạn Hạnh Mall, 11 Sư Vạn Hạ...",/ho-chi-minh/lau-tuoi-mk-van-hanh-mall
1359,30,Lẩu Tươi MK - Vincom Landmark 81,Nha Hang,10:00,22:00,200.000,330.000,6.4,6.5,6.2,6.2,6.5,6.6,"Tầng Hầm 1, Tầng B1 Vincom Landmark 81, 772 Đ...",/ho-chi-minh/lau-tuoi-mk-vincom-landmark-81

In [79]:
df_rests_x.to_csv("data/cleaned/restaurants.csv", index=False)

## 3. users.csv

In [23]:
df_users.sample(3)

      user_id         user_name         user_link
9769     5017     Thiên Vũ Tăng       /thienvu.19
3285     2504   Foodee_9niaguwy  /foodee_9niaguwy
58       5706  Hoàng Hải Nguyễn   /hai.nguyen6597

In [21]:
df_users.user_link = df_users.user_link.map(lambda url: url.split("thanh-vien")[-1] if "/" in str(url) else "")

In [22]:
df_users = df_users[["user_id", "user_name", "user_link"]]

In [24]:
df_users.to_csv("data/cleaned/users.csv", index=False)

## 4. meals.csv

In [7]:
df_meals.sample(3)

      food_id  rest_id          food_name  food_price
3656       79       77      Khoai Tây Lắc     25000.0
3786     1015      705    Xôi ca dé( lớn)     23000.0
1152     1529      365  Lẩu Thái - 1200ml     70200.0

In [80]:
df_ratings.to_csv("data/cleaned/meals.csv", index=False)

## 5. ratings.csv

In [51]:
df_ratings.sample(3)

,user_id,rest_id,date,time,device_user,rating_score,cmt
3537,3280,1044,19/12/2019,0:15,iPhone,8.4,Lần quay lại Buffet tối cuatr Majestic ngay dị...
12761,1583,995,27/2/2018,13:11,iPhone,8.4,Tết dắt cả nhà đi ăn. Ai cũng khen. Giá tăng n...
4837,404,705,29/10/2020,15:53,iPhone,7.8,20k khá nhiều

In [47]:
df_ratings["date"] = df_ratings.time.map(lambda time: time.split(" ")[0])

In [48]:
df_ratings["time"] = df_ratings.time.map(lambda time: time.split(" ")[1])

In [49]:
df_ratings["device_user"] = df_ratings.device_user.map(lambda device: device.replace("via ", ""))

In [50]:
col = df_ratings.pop("date")
df_ratings.insert(2, col.name, col)

In [53]:
df_ratings.to_csv("data/cleaned/ratings.csv", index=False)