In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Load data

In [2]:
pwd

'/home/henry/Desktop/UIT/RecSys/RecSys-Project/preprocessing'

In [8]:
cd ..

/home/henry/Desktop/UIT/RecSys/RecSys-Project

In [9]:
df_rests = pd.read_parquet("data/organized/restaurants.pq")
df_users = pd.read_parquet("data/organized/users.pq")
df_meals = pd.read_csv("data/organized/meals.csv")
df_ratings = pd.read_parquet("data/organized/ratings.pq")

## 2. restaurants.csv

In [10]:
df_rests.tail(3)

,index,rest_name,rest_address,time_open,price,avg_score,quality_score,price_score,service_score,space_score,location_score,link,Location,Cate,rest_id
4904,6790,Đà Lạt Phố Cafe - Trường Sơn,"N40 Trường Sơn, P.15, Quận 10, TP. HCM",07:00 - 22:00,20.000 - 80.000,7.2,6.6,6.6,7.2,8.2,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,4753
4905,6791,Đà Lạt Phố Cafe - Nguyễn Thị Minh Khai,"306 Nguyễn Thị Minh Khai, Quận 3, TP. HCM",Đang mở cửa Cả ngày | 07:00 - 23:00,50.000 - 80.000,6.4,5.6,5.6,5.9,7.7,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,3392
4906,6792,Đà Lạt Phố Cafe - Lữ Gia,"70 Lữ Gia, Quận 11, TP. HCM",07:00 - 22:00,20.000 - 80.000,6.8,6.4,6.0,6.6,7.6,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,1409

In [11]:
df_rests["open_time"] = df_rests.time_open.map(lambda time: str(time).split(" - ")[0])
df_rests["close_time"] = df_rests.time_open.map(lambda time: str(time).split(" - ")[-1])

In [12]:
df_rests["lowest_price"] = df_rests.price.map(lambda price: str(price).split(" - ")[0])
df_rests["hightest_price"] = df_rests.price.map(lambda price: str(price).split(" - ")[-1])

In [13]:
df_rests["rest_link"] = df_rests.link.map(lambda link: link.replace("https://www.foody.vn", ""))

In [14]:
df_rests.columns

Index(['index', 'rest_name', 'rest_address', 'time_open', 'price', 'avg_score',
       'quality_score', 'price_score', 'service_score', 'space_score',
       'location_score', 'link', 'Location', 'Cate', 'rest_id', 'open_time',
       'close_time', 'lowest_price', 'hightest_price', 'rest_link'],
      dtype='object')

In [15]:
df_rests_x = df_rests[["rest_id", "rest_name", "Cate","open_time", 'close_time', 'lowest_price', 'hightest_price',
                     "avg_score", 'quality_score', 'price_score', 'service_score', 'space_score', 'location_score',
                     "rest_address", "rest_link"]]

In [16]:
df_rests_x.tail(3)

,rest_id,rest_name,Cate,open_time,close_time,lowest_price,hightest_price,avg_score,quality_score,price_score,service_score,space_score,location_score,rest_address,rest_link
4904,4753,Đà Lạt Phố Cafe - Trường Sơn,Cafe,07:00,22:00,20.000,80.000,7.2,6.6,6.6,7.2,8.2,7.4,"N40 Trường Sơn, P.15, Quận 10, TP. HCM",/ho-chi-minh/da-lat-pho-cafe-truong-son
4905,3392,Đà Lạt Phố Cafe - Nguyễn Thị Minh Khai,Cafe,Đang mở cửa Cả ngày | 07:00,23:00,50.000,80.000,6.4,5.6,5.6,5.9,7.7,7.4,"306 Nguyễn Thị Minh Khai, Quận 3, TP. HCM",/ho-chi-minh/da-lat-pho-cafe-nguyen-thi-minh-khai
4906,1409,Đà Lạt Phố Cafe - Lữ Gia,Cafe,07:00,22:00,20.000,80.000,6.8,6.4,6.0,6.6,7.6,7.4,"70 Lữ Gia, Quận 11, TP. HCM",/ho-chi-minh/da-lat-pho-cafe-lu-gia

In [17]:
df_rests_x.to_parquet("data/cleaned/restaurants.pq", index=False)

## 3. users.csv

In [18]:
df_users.sample(3)

,index,user_name,user_link,user_id
8116,17885,Minhmy9996,https://www.foody.vn/thanh-vien/foodee_ypu7sxav,11084
20094,55051,Hằng Nguyễn Nguyễn,https://www.foody.vn/thanh-vien/lehang030195,3021
21109,59480,Frank Merci,https://www.foody.vn/thanh-vien/jin_8x,8082

In [19]:
df_users.user_link = df_users.user_link.map(lambda url: url.split("thanh-vien")[-1] if "/" in str(url) else "")

In [20]:
df_users = df_users[["user_id", "user_name", "user_link"]]

In [21]:
df_users.tail(3)

       user_id        user_name         user_link
27137    15100  Foodee_6tvgeatb  /foodee_6tvgeatb
27138     6518      Quyên Huỳnh  /foodee_6xro13h6
27139    18401         Hương Đỗ   /dothihuong1303

In [22]:
df_users.to_parquet("data/cleaned/users.pq", index=False)

## 4. meals.csv

In [23]:
df_meals.sample(3)

      food_id  rest_id           food_name  food_price
120       316      550  Chả giò Quảng Đông    105840.0
2173      813      818  Đùi gà rán phủ sốt     42900.0
2046      866        2    Combo Give A Try     89000.0

In [24]:
df_meals.to_csv("data/cleaned/meals.csv", index=False)

## 5. ratings.csv

In [25]:
df_ratings.tail(3)

,index,user_id,rest_id,time,device_user,rating_score,cmt
68432,83692,11540,3725,9/11/2022 21:46,via iPhone,2.0,Thái độ nhân viên tốt. NHƯNG:\n\n1) Rất nhiều ...
68433,83693,8308,4336,7/1/2022 16:31,via iPhone,8.8,Các món chay được tuỳ biến theo phong cách tây...
68434,83694,13883,4336,23/12/2021 21:38,via iPhone,8.2,Đây là một địa điểm tuyệt vời cho những ai muố...

In [26]:
# df_ratings["date"] = df_ratings.time.map(lambda time: time.split(" ")[0])
# df_ratings["time"] = df_ratings.time.map(lambda time: time.split(" ")[1])

In [28]:
import datetime

In [29]:
df_ratings["timestamp"] = df_ratings.time.map(
    lambda time: 
    int(datetime.datetime.strptime(time, "%d/%m/%Y %H:%M")
    .timestamp())
)

In [30]:
df_ratings["device_user"] = df_ratings.device_user.map(lambda device: device.replace("via ", ""))

In [31]:
col = df_ratings.pop("timestamp")
df_ratings.pop("time")
df_ratings.insert(2, col.name, col)

In [32]:
df_ratings.rename(columns={"device_user": "user_device"}, inplace=True)

In [33]:
df_ratings = df_ratings.drop_duplicates(subset=["user_id", "rest_id"], keep="last").reset_index(drop=True)
df_ratings.tail(3)

,index,user_id,timestamp,rest_id,user_device,rating_score,cmt
68432,83692,11540,1668005160,3725,iPhone,2.0,Thái độ nhân viên tốt. NHƯNG:\n\n1) Rất nhiều ...
68433,83693,8308,1641547860,4336,iPhone,8.8,Các món chay được tuỳ biến theo phong cách tây...
68434,83694,13883,1640270280,4336,iPhone,8.2,Đây là một địa điểm tuyệt vời cho những ai muố...

In [34]:
df_ratings.to_parquet("data/cleaned/ratings.pq", index=False)