In [1]:
import pandas as pd
import numpy as np

In [2]:
cd ..

/home/henry/Desktop/UIT/RecSys/RecSys-Project

## 2. restaurant.csv

### 2.1 Merge files

In [3]:
df_rest_info = pd.read_csv("data/raw/df_total_HN_HCM_restLink_20221129.csv")
df_rest_info.tail(3)

     Location       Cate                                          Link_rest
5524    HaNoi  Tiem Banh  https://www.foody.vn/ha-noi/huong-phuc-bakery-...
5525    HaNoi  Tiem Banh       https://www.foody.vn/ha-noi/tiem-banh-changi
5526    HaNoi  Tiem Banh  https://www.foody.vn/ha-noi/tiem-banh-changi-c...

In [4]:
df_rest_info.rename(columns={"Link_rest": "link"}, inplace=True)

In [12]:
df_rest_full_info =  pd.read_csv("data/raw/data_HN_HCM_step_2_restInfo_20221128.csv")

In [13]:
df_rest_full_info.tail(3)

,rest_name,rest_address,time_open,price,avg_score,quality_score,price_score,service_score,space_score,location_score,link
5524,Đà Lạt Phố Cafe - Trường Sơn,"N40 Trường Sơn, P.15, Quận 10, TP. HCM",07:00 - 22:00,20.000 - 80.000,7.2,6.6,6.6,7.2,8.2,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...
5525,Đà Lạt Phố Cafe - Nguyễn Thị Minh Khai,"306 Nguyễn Thị Minh Khai, Quận 3, TP. HCM",Đang mở cửa Cả ngày | 07:00 - 23:00,50.000 - 80.000,6.4,5.6,5.6,5.9,7.7,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...
5526,Đà Lạt Phố Cafe - Lữ Gia,"70 Lữ Gia, Quận 11, TP. HCM",07:00 - 22:00,20.000 - 80.000,6.8,6.4,6.0,6.6,7.6,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...

In [14]:
df_rest_full = df_rest_full_info.merge(df_rest_info, how="inner", on="link")

In [15]:
def createId(df, column):
    ls_value = list(set(df[column]))
    map_ls_value = dict(zip(ls_value, range(len(ls_value))))
    return map_ls_value

In [16]:
map_rest_name = createId(df_rest_full, "rest_name")
df_rest_full["rest_id"] = df_rest_full.rest_name.map(map_rest_name)

In [17]:
df_rest_full.drop_duplicates(inplace=True)

In [18]:
df_rest_full.tail(3)

,rest_name,rest_address,time_open,price,avg_score,quality_score,price_score,service_score,space_score,location_score,link,Location,Cate,rest_id
6790,Đà Lạt Phố Cafe - Trường Sơn,"N40 Trường Sơn, P.15, Quận 10, TP. HCM",07:00 - 22:00,20.000 - 80.000,7.2,6.6,6.6,7.2,8.2,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,1198
6791,Đà Lạt Phố Cafe - Nguyễn Thị Minh Khai,"306 Nguyễn Thị Minh Khai, Quận 3, TP. HCM",Đang mở cửa Cả ngày | 07:00 - 23:00,50.000 - 80.000,6.4,5.6,5.6,5.9,7.7,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,166
6792,Đà Lạt Phố Cafe - Lữ Gia,"70 Lữ Gia, Quận 11, TP. HCM",07:00 - 22:00,20.000 - 80.000,6.8,6.4,6.0,6.6,7.6,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,3530

In [21]:
df_rest_full.to_parquet("data/organized/restaurants.pq", index=False)

## 3. meals.csv

In [23]:
 # df_meals = pd.read_csv("data/raw/data_food_info.csv")

In [13]:
df_meals.rename(columns={"link_rest": "link", "name_food": "food_name", "price_food": "food_price" }, inplace=True)

In [14]:
df_meals.sample(3)

,food_name,food_price,link
3734,Bánh Mì Chả Cá Nóng + Pepsi,33000.0,https://www.foody.vn/ho-chi-minh/banh-mi-ma-ha...
1748,Trà Lài Sữa Matcha,35000.0,https://www.foody.vn/ho-chi-minh/bun-cay-thai-...
3828,Set Combo 3,245000.0,https://www.foody.vn/ho-chi-minh/street-food-g...

In [15]:
df_meals = df_meals.merge(df_rest_full[["rest_id", "link"]], how="inner", on="link")

In [16]:
map_food_name = createId(df_meals, "food_name")
df_meals["food_id"] = df_meals.food_name.map(map_food_name)

In [17]:
df_meals = df_meals[["food_id", "rest_id", "food_name", "food_price"]]

In [18]:
df_meals.drop_duplicates(inplace=True)

In [19]:
df_meals

      food_id  rest_id                  food_name  food_price
0         607     1008         Tôm Viên Hạnh Nhân     68000.0
1        1798     1008  Bánh Cuốn X.O Sò Điệp Khô     86000.0
2        1454     1008           Tổ Chim Chiên Xù     60000.0
3        1447     1008         Bánh Nướng Phô Mai     48000.0
4         110     1008    Há Cảo Hải Sản Dát Vàng     99000.0
...       ...      ...                        ...         ...
4500     1683      974             Trà sữa Matcha     25000.0
4501      563      220           Sữa chua lắc Dâu     24000.0
4502     1543      220          Sữa chua lắc Xoài     24000.0
4503      777      220           Sữa chua lắc Đào     24000.0
4504      714      220       Sữa Chua Lắc Ổi Hồng     24000.0

[4109 rows x 4 columns]

In [20]:
df_meals.to_csv("data/organized/meals.csv", index=False)

## 4. comments.csv

### 4.1 users.csv

In [24]:
 df_ratings = pd.read_csv("data/raw/data_HN_HCM_step_3_userInfo_20221128.csv")

In [25]:
df_ratings.sample(3)

,cmt,user_link,device_user,time,rating_score,user_name,link_rest
48176,A,https://www.foody.vn/thanh-vien/foodee_0c9r3kp0,via MobileWeb,30/6/2022 20:30,10.0,Từ,https://www.foody.vn/ho-chi-minh/gogi-house-qu...
61117,"Mình đặt 1 lẩu cà kèo nhỏ, 1 bún gạo xào thập ...",https://www.foody.vn/thanh-vien/onlyone.love,via iPhone,14/6/2019 19:17,3.8,Lê Hậu,https://www.foody.vn/ho-chi-minh/lau-ca-keo-ba...
30399,Hôm bữa mk có gọi ship bánh mỳ của savor về ăn...,https://www.foody.vn/thanh-vien/muom0611,via Android,31/10/2019 13:40,6.4,Mai Hươngg,https://www.foody.vn/ha-noi/savor-banh-mi-xoi-...

In [26]:
df_users = df_ratings[["user_name", "user_link"]]

In [27]:
map_userId = createId(df_users, "user_name")
df_users["user_id"] = df_users.user_name.map(map_userId)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
df_users.drop_duplicates(inplace=True)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [39]:
df_users.drop_duplicates(inplace=True)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [40]:
df_users.tail(3)

,user_name,user_link,user_id
83974,Foodee_6tvgeatb,https://www.foody.vn/thanh-vien/foodee_6tvgeatb,14219
83977,Quyên Huỳnh,https://www.foody.vn/thanh-vien/foodee_6xro13h6,21695
83978,Hương Đỗ,https://www.foody.vn/thanh-vien/dothihuong1303,16855

In [41]:
df_users.to_parquet("data/organized/users.pq", index=False)

### 4.2 ratings.csv

In [31]:
df_ratings.rename(columns={"link_rest": "link"}, inplace=True)

In [33]:
df_ratings.tail(3)

,cmt,user_link,device_user,time,rating_score,user_name,link
83981,Hôm nay mình với mấy chị đồng nghiệp order bán...,https://www.foody.vn/thanh-vien/quynhmai2306,via iPhone,12/5/2021 20:04,9.0,Quỳnh Mai,https://www.foody.vn/ho-chi-minh/quan-chay-sala
83982,"Ko bỏ muỗng đũa, đặt mì quảng chay có tí xíu m...",https://www.foody.vn/thanh-vien/foodee_thw809fs,via iPhone,12/5/2021 13:28,1.0,Thanh,https://www.foody.vn/ho-chi-minh/quan-chay-sala
83983,"Hôm nay mình đặt Cơm tấm chay, Bánh canh chay ...",https://www.foody.vn/thanh-vien/quynhmai2306,via iPhone,26/4/2021 20:06,9.0,Quỳnh Mai,https://www.foody.vn/ho-chi-minh/quan-chay-sala

In [34]:
df_ratings = df_ratings.merge(df_users[["user_name", "user_id"]], how="inner", on="user_name")

In [35]:
df_ratings = df_ratings.merge(df_rest_full[["rest_id", "link"]], how="inner", on="link")

In [36]:
df_ratings_org = df_ratings[["user_id", "rest_id", "time", "device_user", "rating_score", "cmt"]]

In [37]:
df_ratings_org.drop_duplicates(inplace=True)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [38]:
df_ratings_org

,user_id,rest_id,time,device_user,rating_score,cmt
0,26450,3968,29/2/2016 17:49,via Web,8.0,"Mình mới đến lại thứ 7 vừa rồi, mình thích nhấ..."
1,4464,3968,27/10/2015 7:49,via iPhone,5.4,Quán này nghỉ vào 14-15 âm hàng tháng. Hôm qua...
7,11879,3968,30/7/2015 20:15,via Web,7.2,Mình ăn ở đây từ cái hồi mới nghe danh bên địa...
8,11879,3968,26/5/2014 22:02,via Web,5.6,quán ruột sau khi ăn ở bên 533/59 ốc luộc huỳn...
9,16010,3968,14/7/2015 22:49,via iPhone,6.2,Lần đầu đi với đám bạn tới đây. Đường đi đúng ...
...,...,...,...,...,...,...
355873,18939,4803,20/3/2022 20:37,via MobileWeb,2.6,"Lừa đảo. Để bảng giá trên bàn, trước cửa nhưng..."
355874,4426,4895,28/5/2022 2:31,via iPhone,2.8,"Lần đầu ăn ở chi nhánh này trải nghiệm rất tệ,..."
355875,19840,169,9/11/2022 21:46,via iPhone,2.0,Thái độ nhân viên tốt. NHƯNG:\n\n1) Rất nhiều ...
355876,12883,4128,7/1/2022 16:31,via iPhone,8.8,Các món chay được tuỳ biến theo phong cách tây...
355877,13675,4128,23/12/2021 21:38,via iPhone,8.2,Đây là một địa điểm tuyệt vời cho những ai muố...

In [42]:
df_ratings_org.to_parquet("data/organized/ratings.pq", index=False)