In [1]:
import pandas as pd
import numpy as np

In [2]:
cd ..

/home/henry/Desktop/UIT/RecSys/RecSys-Project

In [3]:
df_rest_info = pd.read_csv("data/raw/df_total_4.csv")
df_rest_full_info =  pd.read_csv("data/raw/rest_info.csv")

## 2. restaurant.csv

### 2.1 Merge files

In [4]:
df_rest_info.tail(3)

     Location        Cate                                          Link_rest
1357    TPHCM  Sang Trong      https://www.foody.vn/ho-chi-minh/lotteria-htv
1358    TPHCM  Sang Trong  https://www.foody.vn/ho-chi-minh/lotteria-ba-t...
1359    TPHCM  Sang Trong  https://www.foody.vn/ho-chi-minh/lotteria-thu-duc

In [5]:
df_rest_info.rename(columns={"Link_rest": "link"}, inplace=True)

In [6]:
df_rest_full_info.tail(3)

,rest_name,rest_address,time_open,price,avg_score,quality_score,price_score,service_score,space_score,location_score,link
1357,Lẩu Tươi MK - AEON Mall Bình Tân,"Tầng 3, Tầng 3, Aeon Mall Bình Tân, 1 Đường S...",10:00 - 22:00,200.000 - 300.000,6.9,6.9,6.6,7.2,6.9,7.1,https://www.foody.vn/ho-chi-minh/lau-tuoi-mk-a...
1358,Lẩu Tươi MK - Vạn Hạnh Mall,"Tầng 5, 02 Tầng 5 Vạn Hạnh Mall, 11 Sư Vạn Hạ...",09:00 - 22:00,100.000 - 500.000,6.9,6.9,6.5,6.9,6.7,7.4,https://www.foody.vn/ho-chi-minh/lau-tuoi-mk-v...
1359,Lẩu Tươi MK - Vincom Landmark 81,"Tầng Hầm 1, Tầng B1 Vincom Landmark 81, 772 Đ...",10:00 - 22:00,200.000 - 330.000,6.4,6.5,6.2,6.2,6.5,6.6,https://www.foody.vn/ho-chi-minh/lau-tuoi-mk-v...

In [7]:
df_rest_full = df_rest_full_info.merge(df_rest_info, how="inner", on="link")

In [8]:
def createId(df, column):
    ls_value = list(set(df[column]))
    map_ls_value = dict(zip(ls_value, range(len(ls_value))))
    return map_ls_value

In [9]:
map_rest_name = createId(df_rest_full, "rest_name")
df_rest_full["rest_id"] = df_rest_full.rest_name.map(map_rest_name)

In [10]:
df_rest_full.drop_duplicates(inplace=True)

In [11]:
df_rest_full.to_csv("data/organized/restaurants.csv", index=False)

## 3. meals.csv

In [12]:
 df_meals = pd.read_csv("data/raw/data_food_info.csv")

In [13]:
df_meals.rename(columns={"link_rest": "link", "name_food": "food_name", "price_food": "food_price" }, inplace=True)

In [14]:
df_meals.sample(3)

,food_name,food_price,link
3734,Bánh Mì Chả Cá Nóng + Pepsi,33000.0,https://www.foody.vn/ho-chi-minh/banh-mi-ma-ha...
1748,Trà Lài Sữa Matcha,35000.0,https://www.foody.vn/ho-chi-minh/bun-cay-thai-...
3828,Set Combo 3,245000.0,https://www.foody.vn/ho-chi-minh/street-food-g...

In [15]:
df_meals = df_meals.merge(df_rest_full[["rest_id", "link"]], how="inner", on="link")

In [16]:
map_food_name = createId(df_meals, "food_name")
df_meals["food_id"] = df_meals.food_name.map(map_food_name)

In [17]:
df_meals = df_meals[["food_id", "rest_id", "food_name", "food_price"]]

In [18]:
df_meals.drop_duplicates(inplace=True)

In [19]:
df_meals

      food_id  rest_id                  food_name  food_price
0         607     1008         Tôm Viên Hạnh Nhân     68000.0
1        1798     1008  Bánh Cuốn X.O Sò Điệp Khô     86000.0
2        1454     1008           Tổ Chim Chiên Xù     60000.0
3        1447     1008         Bánh Nướng Phô Mai     48000.0
4         110     1008    Há Cảo Hải Sản Dát Vàng     99000.0
...       ...      ...                        ...         ...
4500     1683      974             Trà sữa Matcha     25000.0
4501      563      220           Sữa chua lắc Dâu     24000.0
4502     1543      220          Sữa chua lắc Xoài     24000.0
4503      777      220           Sữa chua lắc Đào     24000.0
4504      714      220       Sữa Chua Lắc Ổi Hồng     24000.0

[4109 rows x 4 columns]

In [20]:
df_meals.to_csv("data/organized/meals.csv", index=False)

## 4. comments.csv

### 4.1 users.csv

In [21]:
 df_ratings = pd.read_csv("data/raw/cmt_data_step_3_full_features.csv")

In [22]:
df_ratings.sample(3)

,cmt,user_link,device_user,time,rating_score,user_name,link_rest
11845,Mình với đứa bạn ghé Pizza Hut Trương Định tro...,https://www.foody.vn/thanh-vien/thanhthanhthyng,via Android,3/8/2018 13:36,9.0,Thanhthanhthyng,https://www.foody.vn/ho-chi-minh/pizza-hut-tru...
9016,"Menu đa dạng món ăn, thịt bò mềm ngon. Chi nhá...",https://www.foody.vn/thanh-vien/phantrang1601,via iPhone,15/4/2019 22:42,8.8,Trang Phan,https://www.foody.vn/ho-chi-minh/sumo-bbq-tttm...
14971,Lâu lâu thèm gà là nghĩ đến thương h...,https://www.foody.vn/thanh-vien/minnieprt,via iPhone,19/7/2020 23:41,7.4,Minnie Pham,https://www.foody.vn/ho-chi-minh/papas-chicken...

In [23]:
df_users = df_ratings[["user_name", "user_link"]]

In [24]:
map_userId = createId(df_users, "user_name")
df_users["user_id"] = df_users.user_name.map(map_userId)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
df_users.drop_duplicates(inplace=True)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [26]:
df_users

,user_name,user_link,user_id
0,Lam Nhung,https://www.foody.vn/thanh-vien/calyna2004,7847
1,Ngọc Ánh Nguyễn,https://www.foody.vn/thanh-vien/nguyenngocanh1...,1972
2,Mỡ (Bún Bò),https://www.foody.vn/thanh-vien/bb_mylove_forever,7972
3,Trang Nguyễn,https://www.foody.vn/thanh-vien/shy1303,801
4,Quynh Anh Nguyen,https://www.foody.vn/thanh-vien/quynhanhnho,1245
...,...,...,...
16854,Lan Yeung,https://www.foody.vn/thanh-vien/Tavia,179
16858,Dung Tran,https://www.foody.vn/thanh-vien/EatEverything1997,965
16860,Naru Nguyễn,https://www.foody.vn/thanh-vien/rabbittheking,7526
16861,Huynh Nguyen,https://www.foody.vn/thanh-vien/khanhnguyen3394,6700
16863,Khuu Tai,https://www.foody.vn/thanh-vien/khuutantai,5806

In [27]:
df_users.to_csv("data/organized/users.csv", index=False)

### 4.2 ratings.csv

In [28]:
df_ratings.rename(columns={"link_rest": "link"}, inplace=True)

In [29]:
df_ratings.sample(3)

,cmt,user_link,device_user,time,rating_score,user_name,link
3182,"Súp cua chất lượng, nhiều cua nhưng mà cái giá...",https://www.foody.vn/thanh-vien/mminguyen017,via iPhone,19/12/2016 13:59,6.4,Minh Khương,https://www.foody.vn/ho-chi-minh/sup-cua-hanh-...
12642,"Lần trước mua mang về thì ok, sữa chua nhiều (...",https://www.foody.vn/thanh-vien/tsunaho21376,via iPhone,10/9/2020 21:34,4.2,Phuong Lu,https://www.foody.vn/ho-chi-minh/sua-chua-tran...
15490,Mình muốn đi ăn ở nhà hàng này từ rất lâu rồi ...,https://www.foody.vn/thanh-vien/foodee_aprvcpbq,via Android,23/9/2019 19:41,2.8,Vy Vy,https://www.foody.vn/ho-chi-minh/d-maris-buffe...

In [30]:
df_ratings = df_ratings.merge(df_users[["user_name", "user_id"]], how="inner", on="user_name")

In [31]:
df_ratings = df_ratings.merge(df_rest_full[["rest_id", "link"]], how="inner", on="link")

In [32]:
df_ratings_org = df_ratings[["user_id", "rest_id", "time", "device_user", "rating_score", "cmt"]]

In [33]:
df_ratings_org.drop_duplicates(inplace=True)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [34]:
df_ratings_org

,user_id,rest_id,time,device_user,rating_score,cmt
0,7847,253,29/2/2016 17:49,via Web,8.0,"Mình mới đến lại thứ 7 vừa rồi, mình thích nhấ..."
1,1972,253,27/10/2015 7:49,via iPhone,5.4,Quán này nghỉ vào 14-15 âm hàng tháng. Hôm qua...
2,7972,253,30/7/2015 20:15,via Web,7.2,Mình ăn ở đây từ cái hồi mới nghe danh bên địa...
3,7972,253,26/5/2014 22:02,via Web,5.6,quán ruột sau khi ăn ở bên 533/59 ốc luộc huỳn...
4,801,253,14/7/2015 22:49,via iPhone,6.2,Lần đầu đi với đám bạn tới đây. Đường đi đúng ...
...,...,...,...,...,...,...
34424,6873,376,30/6/2022 22:52,via MobileWeb,10.0,"Đò ăn ngon xỉu, quá đỉnh✨"
34425,2020,376,29/6/2022 18:14,via MobileWeb,10.0,Món ăn rất ngon. Set panacotta ở gogi house là...
34426,2020,376,29/6/2022 18:11,via MobileWeb,10.0,Món ăn rất phong phú và hợp giá tiền
34427,5606,376,27/6/2022 0:04,via iPhone,10.0,"Món ăn ngon, nhân viên phục vụ rất tốt. Trải n..."
34428,162,376,23/6/2022 22:17,via MobileWeb,10.0,"Món ăn ở đây rất ngon, nhân viên phục vụ nhiệt..."

In [35]:
df_ratings_org.to_csv("data/organized/ratings.csv", index=False)