In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Load data

In [3]:
pwd

'/home/henry/Desktop/UIT/RecSys/RecSys-Project/preprocessing'

In [4]:
cd ..

/home/henry/Desktop/UIT/RecSys/RecSys-Project

In [6]:
df_rests = pd.read_parquet("data/organized/restaurants.pq")
df_users = pd.read_parquet("data/organized/users.pq")
df_meals = pd.read_csv("data/organized/meals.csv")
df_ratings = pd.read_parquet("data/organized/ratings.pq")

## 2. restaurants.csv

In [8]:
df_rests.tail(3)

,rest_name,rest_address,time_open,price,avg_score,quality_score,price_score,service_score,space_score,location_score,link,Location,Cate,rest_id
5526,Đà Lạt Phố Cafe - Trường Sơn,"N40 Trường Sơn, P.15, Quận 10, TP. HCM",07:00 - 22:00,20.000 - 80.000,7.2,6.6,6.6,7.2,8.2,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,1198
5527,Đà Lạt Phố Cafe - Nguyễn Thị Minh Khai,"306 Nguyễn Thị Minh Khai, Quận 3, TP. HCM",Đang mở cửa Cả ngày | 07:00 - 23:00,50.000 - 80.000,6.4,5.6,5.6,5.9,7.7,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,166
5528,Đà Lạt Phố Cafe - Lữ Gia,"70 Lữ Gia, Quận 11, TP. HCM",07:00 - 22:00,20.000 - 80.000,6.8,6.4,6.0,6.6,7.6,7.4,https://www.foody.vn/ho-chi-minh/da-lat-pho-ca...,TPHCM,Cafe,3530

In [10]:
df_rests["open_time"] = df_rests.time_open.map(lambda time: str(time).split(" - ")[0])
df_rests["close_time"] = df_rests.time_open.map(lambda time: str(time).split(" - ")[-1])

In [11]:
df_rests["lowest_price"] = df_rests.price.map(lambda price: str(price).split(" - ")[0])
df_rests["hightest_price"] = df_rests.price.map(lambda price: str(price).split(" - ")[-1])

In [12]:
df_rests["rest_link"] = df_rests.link.map(lambda link: link.replace("https://www.foody.vn", ""))

In [13]:
df_rests.columns

Index(['rest_name', 'rest_address', 'time_open', 'price', 'avg_score',
       'quality_score', 'price_score', 'service_score', 'space_score',
       'location_score', 'link', 'Location', 'Cate', 'rest_id', 'open_time',
       'close_time', 'lowest_price', 'hightest_price', 'rest_link'],
      dtype='object')

In [14]:
df_rests_x = df_rests[["rest_id", "rest_name", "Cate","open_time", 'close_time', 'lowest_price', 'hightest_price',
                     "avg_score", 'quality_score', 'price_score', 'service_score', 'space_score', 'location_score',
                     "rest_address", "rest_link"]]

In [16]:
df_rests_x.drop_duplicates(inplace=True)

/home/henry/miniconda3/envs/nlpvenv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [17]:
df_rests_x.tail(3)

,rest_id,rest_name,Cate,open_time,close_time,lowest_price,hightest_price,avg_score,quality_score,price_score,service_score,space_score,location_score,rest_address,rest_link
5526,1198,Đà Lạt Phố Cafe - Trường Sơn,Cafe,07:00,22:00,20.000,80.000,7.2,6.6,6.6,7.2,8.2,7.4,"N40 Trường Sơn, P.15, Quận 10, TP. HCM",/ho-chi-minh/da-lat-pho-cafe-truong-son
5527,166,Đà Lạt Phố Cafe - Nguyễn Thị Minh Khai,Cafe,Đang mở cửa Cả ngày | 07:00,23:00,50.000,80.000,6.4,5.6,5.6,5.9,7.7,7.4,"306 Nguyễn Thị Minh Khai, Quận 3, TP. HCM",/ho-chi-minh/da-lat-pho-cafe-nguyen-thi-minh-khai
5528,3530,Đà Lạt Phố Cafe - Lữ Gia,Cafe,07:00,22:00,20.000,80.000,6.8,6.4,6.0,6.6,7.6,7.4,"70 Lữ Gia, Quận 11, TP. HCM",/ho-chi-minh/da-lat-pho-cafe-lu-gia

In [18]:
df_rests_x.to_parquet("data/cleaned/restaurants.pq", index=False)

## 3. users.csv

In [19]:
df_users.sample(3)

,user_name,user_link,user_id
9881,Manami Sachiko,https://www.foody.vn/thanh-vien/myhanh11235813,11089
20702,Hồng Lam,https://www.foody.vn/thanh-vien/honglama2,11658
22796,Võ Nhàn,https://www.foody.vn/thanh-vien/foodee_hk72nr88,8799

In [20]:
df_users.user_link = df_users.user_link.map(lambda url: url.split("thanh-vien")[-1] if "/" in str(url) else "")

In [21]:
df_users = df_users[["user_id", "user_name", "user_link"]]

In [22]:
df_users.tail(3)

       user_id        user_name         user_link
36537    14219  Foodee_6tvgeatb  /foodee_6tvgeatb
36538    21695      Quyên Huỳnh  /foodee_6xro13h6
36539    16855         Hương Đỗ   /dothihuong1303

In [23]:
df_users.to_parquet("data/cleaned/users.pq", index=False)

## 4. meals.csv

In [24]:
df_meals.sample(3)

,food_id,rest_id,food_name,food_price
2486,541,129,Súp cua bắc thảo óc heo,45000.0
3143,1888,1193,Chả Cá Vàng Thơm Kèm Sốt (Sốt tiêu đen/Sốt cay),280000.0
1171,1171,1201,Cơm bokkum thịt bò,53000.0

In [25]:
df_ratings.to_csv("data/cleaned/meals.csv", index=False)

## 5. ratings.csv

In [26]:
df_ratings.tail(3)

,user_id,rest_id,time,device_user,rating_score,cmt
73714,19840,169,9/11/2022 21:46,via iPhone,2.0,Thái độ nhân viên tốt. NHƯNG:\n\n1) Rất nhiều ...
73715,12883,4128,7/1/2022 16:31,via iPhone,8.8,Các món chay được tuỳ biến theo phong cách tây...
73716,13675,4128,23/12/2021 21:38,via iPhone,8.2,Đây là một địa điểm tuyệt vời cho những ai muố...

In [27]:
df_ratings["date"] = df_ratings.time.map(lambda time: time.split(" ")[0])

In [28]:
df_ratings["time"] = df_ratings.time.map(lambda time: time.split(" ")[1])

In [29]:
df_ratings["device_user"] = df_ratings.device_user.map(lambda device: device.replace("via ", ""))

In [30]:
col = df_ratings.pop("date")
df_ratings.insert(2, col.name, col)

In [31]:
df_ratings.to_parquet("data/cleaned/ratings.pq", index=False)